@import '../../variables';

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    gap: 30px;

    .nav-link + .nav-link {
      margin-left: 20px;
    }
  }
}

@media (max-width: 850px) {
  header {
    padding: 15px 30px;

    .logo {
      width: 183px;
    }

    nav {
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 54px;
      background-color: $card-background-color;
      align-items: flex-end;
      padding: 30px;
      width: 100%;
      transition: all .4s ease;
      transform: translateX(100%);

      &.visible {
        transform: translateX(0);
      }
    }
  }

  nav .nav-link + .nav-link {
    margin: 0;
  }
}